source https://api.nuget.org/v3/index.json

nuget Fake.DotNet.Cli
nuget Fake.IO.FileSystem
nuget Fake.Core.Target

nuget FSharp.Core
nuget FParsec
nuget FSharp.Data
nuget Thoth.Json.Net

github maplestory-jpq/fda
github giraffe-fsharp/Giraffe src/Giraffe/GiraffeViewEngine.fs
