source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget FParsec
nuget FSharp.Data
nuget Thoth.Json.Net

github ms-jpq/fda
github giraffe-fsharp/Giraffe:4c1e5539 src/Giraffe/GiraffeViewEngine.fs
