source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget FParsec
nuget FSharp.Data
nuget Thoth.Json.Net

github maplestory-jpq/fda
github giraffe-fsharp/Giraffe src/Giraffe/GiraffeViewEngine.fs
