body {
  min-height: 100vh;
  max-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("background.png");
  background-color: aliceblue;
}

main {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  color: #2a2a2a;
}

main > a {
  width: 7em;
  overflow: hidden;
  text-decoration: none;
}

figure {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

figure > * {
  align-self: center;
  text-align: center;
  text-overflow: ellipsis;
}

figure > h1 {
  margin-bottom: 0.1em;
}

figure > figcaption {
  text-decoration: underline;
}

footer {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
}

footer > * {
  align-self: center;
}

@media (max-width: 50em) {
  main {
    max-width: 95vw;
  }
}

@media (min-width: 50em) {
  main {
    width: 50em;
  }
}
